#root {
  background: #eee;
  height: 100vh; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.containerBody {
  display: flex;
  align-items: center;
  justify-content: center; }

.textField {
  background: #fff; }

.container-toolbar {
  background: repeating-linear-gradient(-45deg, #ccc, #ccc 5px, white 5px, white 10px);
  padding: 5px; }

.container-toolbar .width-control {
  float: left; }

.container-toolbar .empty,
.container-toolbar .edit,
.container-toolbar .delete {
  float: right; }

.n-container {
  padding: 0 10px 10px; }
